* {
    margin: 0;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/**** Header Section ****/
/* main header */
header {
    padding-bottom: 15px;
}

h1 {
    color: white;
    font-size: 38px;
    background-color: rgb(0, 164, 0);
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

/* secondary header */
.header-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid green;
}

.view-high-scores, .time-left {
    color: green;
    text-align: center;
    flex: 1;
    margin: 10px 5%;
}

#high-scores-view:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*** Main Section ***/
/* main display for quiz cards */
main {
    padding-top: 10%;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* begin card */
#begin-card {
    text-align: center;
    height: 150px;
    width: 350px;
    border: 1px solid black;
}

#begin-card h2 {
    padding-top: 10px;
}

.btn {
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
}

#begin-btn {
    margin: 30px 0;
}

/* quiz card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    width: 350px;
}

.card h4 {
    text-align: center;
    background-color: rgb(145, 255, 238);
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
    text-align: center;
}

.answer-btn {
    font-weight: bold;
    width: 175px;
    padding: 5px 0;
    margin-bottom: 4px;
    font-size: 15px;
}

#restart-btn {
    margin: 10px 0 8px 0;
}

#quit-btn {
    margin: 0 0 15px 0;
}

/* score card */
.bg-dark {
    background-color: rgb(145, 255, 238);
    padding: 0 3px;
}

@media screen and (min-width: 575px) {
    h1 {
        padding: 1% 0;
    }

    .card {
        width: 500px;
    }
}