* {
    margin: 0;
    line-height: 1.4;
}

/**** Header Section ****/
/* main header */
header {
    background-color: green;
    padding-bottom: 15px;
}

h1 {
    color: white;
    text-align: center;
    padding: 2%;
}

/* secondary header */
.header-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.view-high-scores, .time-left {
    background-color: orange;
    text-align: center;
    flex: 1;
    margin: 0 5%;
}

#high-scores-view:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*** Main Section ***/
/* main display for quiz cards */
main {
    padding-top: 10%;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* begin card */
#begin-card {
    text-align: center;
    height: 150px;
    width: 350px;
    border: 1px solid black;
}

#begin-card h2 {
    padding-top: 10px;
}

.btn {
    margin: 20px 0;
}

#begin-btn {
    margin: 30px 0;
}

/* quiz card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid black;
    width: 350px;
}

.quiz-answers li {
    list-style: none;
}

@media screen and (min-width: 575px) {
    .msg-card {
        height: 200px;
        width: 500px;
        padding-top: 40px;
    }
}